- https://archive.ics.uci.edu/ml/datasets/AI4I+2020+Predictive+Maintenance+Dataset Load the dataset Profiling Data EDA Missing Value Treatment Normalizing, Standard Scaling Check Correlation Build Model Save it to pickle Model Performance Test Cases-on 10 data points

In [6]:
# import  required libraries
# importing the necessary libraries

import numpy as np
import pandas as pd

# Task1 : Load the dataset

In [9]:
# load the dataset
#pd.pandas.set_option('display.max_rows',None)
data = pd.read_csv('../data_given/Final_data.csv')
data

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Tool wear [min],Machine failure
0,1,298.1,308.6,1551,0,0
1,0,298.2,308.7,1408,3,0
2,0,298.1,308.5,1498,5,0
3,0,298.2,308.6,1433,7,0
4,0,298.2,308.7,1408,9,0
...,...,...,...,...,...,...
9577,1,298.8,308.4,1604,14,0
9578,2,298.9,308.4,1632,17,0
9579,1,299.0,308.6,1645,22,0
9580,2,299.0,308.7,1408,25,0
9581,1,299.0,308.7,1500,30,0

In [10]:
data.describe()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Tool wear [min],Machine failure
count,9582.000000,9582.000000,9582.000000,9582.000000,9582.000000,9582.000000
mean,0.501357,299.995262,310.001054,1514.204341,108.022334,0.031726
std,0.672066,1.996716,1.481877,130.495885,63.582966,0.175279
min,0.000000,295.300000,305.700000,1168.000000,0.000000,0.000000
25%,0.000000,298.300000,308.800000,1419.250000,53.000000,0.000000
50%,0.000000,300.100000,310.100000,1496.000000,108.000000,0.000000
75%,1.000000,301.500000,311.100000,1595.000000,162.000000,0.000000
max,2.000000,304.500000,313.800000,1895.000000,253.000000,1.000000

In [13]:
range = data.describe().loc[['min','max'],:]

In [15]:
range["Type"]= (0,1,

min    0.0
max    2.0
Name: Type, dtype: float64